<%= form_for(@cost) do |f| %>
  <% if @cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% @cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= f.label :date %><br></h3>
    <%= f.date_select :date %>
  </div>
  <div class="field">
   <h3> <%= f.label :category, class: 'control-label' %><br> </h3>
	<div class="controls">
	<%=f.select(:category_type,options_for_select([['Rent','Rent'],['House','House'],['food','food'],['shopping','shopping'],['car','car'],['entertainment','entertainment'],['miscellaneous','miscellaneous']])) %>
    </div>
  </div>
  <div class="field">
   <h3> <%= f.label :amount %><br></h3>
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <h3><%= f.submit %></h3>
  </div>
<% end %>
