<body style="background-color:#90EE90">
<center>
<h1 style="color:#663399">Editing cost</h1>

<%= render 'form' %>

<h2 style="color:#FF6347"><%= link_to 'Show', @cost %> |
<%= link_to 'Back', costs_path %>
