<body style="background-color:#90EE90">
<center>
<h1 style="color:#663399">Total costs spent on each category</h1>

<table  background-color:blue border="0.75" style="width:50%" border-collapse=collapse>
  <thead>
    <tr>
      <td><h3>Date</h3></td>
      <td><h3>Category</h3></td>
      <td><h3>Amount</h3></td>
      
    </tr>
	<tr>
	  
  </thead>

  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.date %></td>
        <td><%= cost.category_type %></td>
        <td><%= cost.amount %></td>
        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
	  
    <% end %>
	
	
	
	
  </tbody>
  
  <tbody>
   <tr>
   <td><h3>Categories<h3></td>
   <td><h3>Amount<h3> </td>
   </tr>
    <% @costs_cat.each do |key,value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
  
  <tbody>
  <tr>
	<br>
	<td><h3> Total amount spent :</h3></td>
      <td><h3><%=@costs_sum %></h3></td>
	 </tr>
  </tbody>
  
  <tbody>
  <tr>
	<br>
	<td><h3> Total amount Earned :</h3></td>
      <td><h3><%=@incomes_sum %></h3></td>
	 </tr>
  </tbody>
</table>

<br>

<h2 style="color:#FF6347"> <%= link_to 'New Cost', new_cost_path %></h2>
</center>
</body>
