<body style="background-color:#90EE90">
<center>


<h1 style="color:#663399"><%= notice %></h1>

<p>
<h3>
  <strong>Date:</strong> </h3>  <%= @cost.date %>
 
</p>

<p>
<h3>
  <strong>Category:</strong> </h3>
  <%= @cost.category_type %>

</p>

<p>
<h3>
  <strong>Amount:</strong> </h3>
  <%= @cost.amount %>

</p>

<h2 style="color:#FF6347"><%= link_to 'Edit', edit_cost_path(@cost) %> 
<%= link_to 'Back', costs_path %>
