<body style="background-color:#90EE90">
<center>
<h1 style="color:#663399">Editing income</h1>

<%= render 'form' %>

<h2 style="color:#FF6347"><%= link_to 'Show', @income %> |
<%= link_to 'Back', incomes_path %>
