<body style="background-color:#90EE90">
<center>
<h1 style="color:#663399">Total Incomes earned on each category</h1>

<table  background-color:blue border="0.75" style="width:50%" border-collapse=collapse>
  <thead>
    <tr>
      <td><h3>Date</h3></td>
      <td><h3>Category</h3></td>
      <td><h3>Amount</h3></td>
     
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.date %></td>
        <td><%= income.category_type %></td>
        <td><%= income.amount %></td>
        <td><%= link_to 'Show', income %></td>
        <td><%= link_to 'Edit', edit_income_path(income) %></td>
        <td><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
	
	
  </tbody>
  
  <tbody>
    <tr>
   <td><h3>Categories<h3></td>
   <td><h3>Amount<h3> </td>
    <% @incomes_inc.each do |key,value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
  
  <tbody>
  <tr>
	
	<td><h3> Total amount Earned :</h3></td>
      <td><h3><%=@incomes_sum %></h3></td></tr>
	  <tr><td><h3> Total amount spent :</h3></td>
      <td><h3><%=@costs_sum %></h3></td>
	 </tr>
  </tbody>
</table>

<br>

<h2 style="color:#FF6347"> <%= link_to 'New Income', new_income_path %></h2>
</center>
</body>
