<body style="background-color:#90EE90">
<center>


<h1 style="color:#663399"><%= notice %></h1>

<p>
  <h3><strong>Date:</strong></h3>
  <%= @income.date %>
</p>

<p>
  <h3><strong>Category:</strong></h3>
  <%= @income.category_type %>
</p>

<p>
  <h3><strong>Amount:</strong></h3>
  <%= @income.amount %>
</p>

<h2 style="color:#FF6347"><%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
